version: '3.7'
services:

  alarmcontrol:
    build:
      context: ./server
      dockerfile: Dockerfile
    ports:
      - 8080:8080
    volumes:
      - ./logs:/app/logs
    environment:
      SPRING_DATASOURCE_URL: "jdbc:postgresql://postgres:5432/${DATABASE_NAME}"
      SPRING_DATASOURCE_USERNAME: "${DATABASE_USER}"
      SPRING_DATASOURCE_PASSWORD: "${DATABASE_PASSWORD}"
      SPRING_PROFILES_ACTIVE: postgres
      GRAPHHOPPER_APIKEY: "${GRAPHHOPPER_APIKEY}"
      MAPBOX_ACCESS_TOKEN: "${MAPBOX_ACCESS_TOKEN}"
      FIREBASE_PUSH_AUTHORIZATION_HEADER: "${FIREBASE_PUSH_AUTHORIZATION_HEADER}"
      FIREBASE_USERNAME: "${FIREBASE_USERNAME}"
      FIREBASE_PASSWORD: "${FIREBASE_PASSWORD}"
      FIREBASE_PROJECT_ID: "${FIREBASE_PROJECT_ID}"
      FIREBASE_PUBLIC_API_KEY: "${FIREBASE_PUBLIC_API_KEY}"
      FIREBASE_APP_ID: "${FIREBASE_APP_ID}"
      FIREBASE_MESSAGING_SENDER_ID: "${FIREBASE_MESSAGING_SENDER_ID}"
      PAGER_URL: "http://localhost:8081"

    depends_on:
      - postgres
    networks: ['alarmcontrol-net']
    command: ["/app/wait-for.sh", "postgres:5432", "--timeout=300", "--", "/app/docker-entrypoint.sh",
              "-Xms1g", "-Xmx4g", "-Duser.timezone=UTC", "-jar", "/app/alarmcontrol-server.jar"]
  postgres:
    image: postgres:11.3
    volumes:
      - database-data:/var/lib/postgresql/data
      - ./misc/postgres:/docker-entrypoint-initdb.d
    ports:
      - 5432:5432
    environment:
      POSTGRES_DB: ${DATABASE_NAME}
      POSTGRES_USER: ${DATABASE_USER}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
    networks: ['alarmcontrol-net']
  
  pager_pwa:
    build:
      context: ./pager_pwa
      dockerfile: Dockerfile
    ports:
      - 8081:80

  keycloak:
    image: jboss/keycloak:8.0.1
    depends_on:
      - "postgres"
    environment:
      KEYCLOAK_FRONTEND_URL: http://localhost:8090/auth
      KEYCLOAK_USER: admin
      KEYCLOAK_PASSWORD: CDn6rbugo7hDPw
      KEYCLOAK_IMPORT: /tmp/alarmcontrol_realm.json
      DB_VENDOR: postgres
      DB_ADDR: postgres
      DB_USER: keycloak
      DB_PASSWORD: 8uV5Z7GXg1u9Sw
    volumes:
      - ./misc/keycloak:/tmp
    ports:
      - 8090:8080
    networks: ['alarmcontrol-net']

volumes:
  database-data: {}

networks:
  alarmcontrol-net: {}
