html,body,#app{
  height:100%;
}

.h-full{
  height: calc(100% - 56px);
}

.flex-fill {
  flex:1;
}

.leaflet-container {
  height: 100%;
  width: 100%;
}

.alertView{
  background-color: #fafafa;
}

.alertViewOuterBox {
  padding-top: 10px;
  padding-bottom: 10px;
}

.alertViewBox{
  border-radius: .8rem;
  border: 1px solid #e5e5e5;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
}

.alertViewBoxStretch{
  height: calc(100% - 20px) !important;
}

.noPadding{
  padding: 0px;
}

.insideBadge{
  vertical-align: middle;
  margin-right: 10px;
}

.badgeSpace{
  margin-right: 10px;
}

.available{
  background-color: #b1dfbb42;
}

.laterAvailable{
  background-color: #8ec0ff42;
}

.leaflet-routing-container-hide{
  display:none;
}

.badgeEmployee.badge-light{
  background-color: #d8d8d8 !important;
}

.btn-icon{
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 6px;
  padding-right: 6px;
}

.btn-icon-space{
  margin-left: 5px;
}

.row-header{
  padding-top: 25px;
  padding-bottom: 25px;
}

.row-mid{
  padding-bottom: 75px;
}

thead{
  font-weight: bold;
}

thead tr td{
  border-top-width: 0px !important;
}